<app-header [showSearch]="true" (searchId)="handleSearch($event)"></app-header>

@if (isLoading) {
  <div>
    <p>Loading users...</p>
  </div>
}

@if (errorMessage) {
  <app-error 
    [errorMessage]="errorMessage" 
    [errorDetails]="'There was an issue when contacting the server, please check your internet connection'">
  </app-error>
}

@if (!isLoading && !errorMessage) {
  <div class="container">
    <div class="user-list-container">
      <app-pagination 
        [currentPage]="currentPage" 
        [totalPages]="totalPages"
        [itemsPerPage]="itemsPerPage"
        [itemsPerPageOptions]="itemsPerPageOptions"
        (pageChanged)="onPageChanged($event)"
        (itemsPerPageChanged)="onItemsPerPageChanged($event)">
      </app-pagination>

      <ul class="user-list">
        @for (user of filteredUsers; track $index) {
          <app-user [user]="user"></app-user>
        }
      </ul>
    </div>
  </div>
}


<!-- if i want to make it using nested routes but it must be displayed under the list of users which is something that we don`t want it as this moment -->
<!-- <router-outlet></router-outlet> -->
