<div *ngIf="isLoading">
  <p>Loading users...</p>
</div>

<app-error 
  *ngIf="errorMessage" 
  [errorMessage]="errorMessage" 
  [errorDetails]="'There was an issue when contacting the server, please check your internet connection'">
</app-error>
<div *ngIf="!isLoading && !errorMessage" class="container">

  <div class="user-list-container">
    <app-pagination 
      [currentPage]="currentPage" 
      [totalPages]="totalPages"
      [itemsPerPage]="itemsPerPage"
      [itemsPerPageOptions]="itemsPerPageOptions"
      (pageChanged)="onPageChanged($event)"
      (itemsPerPageChanged)="onItemsPerPageChanged($event)">
    </app-pagination>

    <ul class="user-list">
      <app-user *ngFor="let user of filteredUsers" [user]="user" [onViewDetails]="selectUser.bind(this)"></app-user>
    </ul>
  </div>

  <div class="user-details-container">
    <app-user-details *ngIf="selectedUser" [user]="selectedUser"></app-user-details>
  </div>
</div>


